body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    background-color: #f0f0f0;
}

iframe {
    border: none;
    overflow: hidden;
    width: 351px;
    height: 351px;
}

body > div {
    max-width: 90%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.iframeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    width: 33%;
    padding: 5px;
        text-align: center;

}
/*td:nth-child(2){*/
/*    background-color: lightgreen;*/
/*}*/

.rectangle-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}

.rectangle {
    width:75px;
    height: 75px;
    border-radius: 20px;
}

